<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://code.alibabatech.com/schema/dubbo
           http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="fs-document-preview-provider"/>
    <!-- 设置端口为-1，则默认从20880开始，寻找空闲端口 -->
    <dubbo:protocol name="dubbo" port="-1" payload="16777216"/>
    <dubbo:registry address="${dubbo.registry.address}"/>
    <dubbo:service interface="com.facishare.document.preview.api.service.DocConvertService" ref="docConvertService"
                   protocol="dubbo"  timeout="30000" filter="tracerpc"/>
    <dubbo:provider threadpool="cached" threads="300" queues="50"/>
</beans>
