body {
    padding-top: 10px;
    padding-bottom: 20px;
}

.word-body, .ppt-body {
    background-color:#EBEBEB;
    min-height: 100%;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

.word-body table {
    width: auto !important;
}

.word-page{
    line-height: normal;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    background-color:#FFF;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0 0 10px 5px #888;
    -webkit-box-shadow: 0 0 10px 5px #888;
    box-shadow: 0 0 10px 5px #888;
}

.word-page .word-content {
    position: relative;
    background-color:#FFF;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0px auto;
}

.doc-page .doc-content p{
    word-wrap:break-word;
    word-break:normal;
    margin: 0px;
}

/* -------------------------------------------------- */
/*	Table Style
/* -------------------------------------------------- */

table {
    border-collapse: collapse;
    word-wrap: break-word;
    margin: 0px auto;
}

table td {
    text-align: center !important;
}

/*
table, tbody, tfoot, thead, tr, th, td {
    border: 1px solid #dddddd !important;
}
*/



/* -------------------------------------------------- */
/*	Footer
/* -------------------------------------------------- */
footer {
    text-align: center;
}

/* -------------------------------------------------- */
/*	Bottom paging progress
/* -------------------------------------------------- */
.bottom-paging-progress {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    margin: 0px auto;
    height: 3px;
}

.paging-bottom-all {
    border-top: 1px solid #d8d8d8;
    height: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    cursor: pointer;
}
.paging-bottom-sub {
    float: left;
    display: inline-block;
    text-align: center;
    height: 20px;
    font-weight: bold;
    color: green;
}

/* -------------------------------------------------- */
/*	Mobile css
/* -------------------------------------------------- */
@media (max-width: 743px) {
    .word-body {
        padding-top: 10px;
    }
    .word-page .word-content {
        max-width: 100%;
        line-height: normal;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5px;
        background-color:#FFF;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -moz-box-shadow: 0 0 5px 2px #888;
        -webkit-box-shadow: 0 0 5px 2px #888;
        box-shadow: 0 0 5px 2px #888;
    }
    .word-body .container-fluid-content {
        padding-left: 5px;
        padding-right: 5px;
    }
    .word-body, .ppt-body, .pdf-body {
        background-color:#FFF;
    }
    .word-page{
        -moz-box-shadow: 0 0 5px 2px #FFF;
        -webkit-box-shadow: 0 0 0px 0px #FFF;
        box-shadow: 0 0 0px 0px #FFF;
    }

    .pdf-body {
        padding-top: 10px;
    }
    .pdf-body .container-fluid-content {
        padding-left: 0px;
        padding-right: 0px;
    }
}