<configuration scan="false" scanPeriod="1 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="druid.sql" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="com.github.trace" level="ERROR"/>
    <logger name="com.facishare.fsi.proxy" level="ERROR"/>
    <logger name="com.fxiaoke.j4log.J4LogFactory" level="ERROR"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
